/* some random CSS for time being */
html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pageCont {
    width: 80%;
    margin: auto;
    text-align: center;
}

.search {
    padding: 5px;
    min-width: 500px;
    border-radius: 5px;
}